{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="mb-0">Document Upload</h5>
            </div>
            <div class="card-body">
                <form id="uploadForm">
                    <div class="mb-3">
                        <label for="document" class="form-label">Upload Document</label>
                        <input type="file" class="form-control" id="document" accept=".pdf,.docx,.txt">
                    </div>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </form>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">Chat History</h5>
            </div>
            <div class="list-group list-group-flush">
                <button class="list-group-item list-group-item-action" id="newChat">
                    + New Chat
                </button>
                {% for chat in chats %}
                <a href="#" class="list-group-item list-group-item-action" data-chat-id="{{ chat.id }}">
                    {{ chat.title or 'Chat ' ~ chat.id }}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <div class="col-md-9">
        <div class="card chat-container">
            <div class="card-body" id="chatMessages">
                <!-- Messages will be inserted here -->
            </div>
            <div class="card-footer">
                <form id="messageForm" class="d-flex">
                    <input type="text" class="form-control me-2" id="messageInput" placeholder="Type your message...">
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}
